@if (state$ | async; as state) {

    <h2>Il tuo carrello</h2>
    @if (state.status === 'loading') { <p>Caricamento in corso...</p> }
    @else if (state.status === 'error') { 
        
        @if (state.code === 401) { <app-login-redirector></app-login-redirector> }
        @else if (state.code === 404) { 
            
            <p>Il tuo carrello è vuoto. Crea un nuovo carrello per iniziare a fare acquisti.</p>
            <button (click)="createCart()">Crea Carrello</button>
        }
    } @else if (state.status === 'empty') { <p>Il carrello è vuoto.</p> }
    @else {

        <h3>{{ state.data.items.length }} elementi</h3>
        @for (item of state.data.items; track item.product.id) {
            <div class="cart-item">
                <h4>{{ item.product.name }}</h4>
                <div>Quantità: {{ item.quantity }}</div>
                @if (item.quantity > item.product.stock) {
                    <div class="warning">Attenzione: la quantità nel carrello supera la disponibilità in magazzino!</div>
                }
                <div>Prezzo unitario: {{ item.product.price }} €</div>
                <div>Totale: {{ item.product.price * item.quantity }} €</div>
                <button (click)="removeFromCart(item.product)">Rimuovi dal carrello</button>
            </div>
        }
        <h3>Totale carrello: {{ getSubtotal(state.data) }} €</h3>
        <button (click)="checkout()" [disabled]="state.data.items.length === 0">Procedi al checkout</button>
    }
}