<nav class="app-nav page page--wide">
    @if (isAdmin()) {
        <button (click)="this.router.navigate(['/admin'])">Dashboard</button>
        <button (click)="this.router.navigate(['/admin/products'])">Prodotti</button>
        <button (click)="this.router.navigate(['/admin/orders'])">Ordini</button>
    } @else {
        <button (click)="this.router.navigate(['/'])">Home</button>
        <button (click)="this.router.navigate(['/products'])">Prodotti</button>
        <button (click)="this.router.navigate(['/cart'])">Carrello</button>
        <button (click)="this.router.navigate(['/orders'])">Ordini</button>
    }
    <span class="spacer"></span>
    @if (isLoggedIn()) {
        @if (!isAdmin()) {
            <button class="profileButton" (click)="router.navigate(['/users', getUserId()])">Profilo</button>
        } @else {
            <button class="loginButton" (click)="logout()">Logout</button>
        }
    } @else {
        <button class="loginButton" (click)="router.navigate(['/login'])">Login</button>
    }
</nav>
